@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
.grow {
     height:50%;
     width: 30%;
}
.grow:hover {
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
}
.black{
    color:#000000 ;
    font-family: 'Jim Nightshade', cursive;
    font-size: 30px;
}
.blue {
    color:#448AFF ;
}
body {
    background-image: url(http://cdn.pcwallart.com/images/color-gradient-background-wallpaper-2.jpg)
}