@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade'); 
.grow {
     height:50%;
     width: 30%;
}
.grow:hover {
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
}
.purple {
    color:#9932CC;
    font-family: 'Jim Nightshade', cursive;
    font-size: 30px
}
.fade
{
    
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}
body {
    background-color: #8C9EFF;
}